<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="head">
    <meta charset="UTF-8">
    <title layout:title-pattern=$"CONTENT_TITLE"></title>
    <!--    styles to be added...-->
    <th:block th:replace="~{boilerplates/fragments/global-fragments :: bootstrap}"></th:block>
</head>
<body>
<header th:replace="~{boilerplates/fragments/global-fragments :: header}"></header>

<main layout:fragment="content"></main>

<header th:replace="~{boilerplates/fragments/global-fragments :: footer}"></header>
</body>
</html>