<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/layout}">
<head>
    <title>Forgot password</title>
</head>
<body>
<main layout:fragment="content">
    <h1>Forgot password?</h1>
    <p>Write your email for recovering</p>
    <div>
        <form method="post" th:action="@{/forgot-password}" th:object="${emailDTO}">
            <label>
                <input type="text" name="email" placeholder="Enter email">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
            </label>
            <br>

            <button type="submit">Send email for recovering</button>
        </form>
    </div>
</main>
</body>
</html>