<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/layout}">
<head>
    <title>Login</title>
</head>
<body>
<main layout:fragment="content">
    <div th:if="${message}">
        <p th:text="${message}"></p>
        <p id="timer">If you haven't received an email, you can resend it in 30 seconds</p>

        <form th:action="@{/forgot-password/resend-verification-email}" id="resend" style="display: none;" method="post">
            <input type="hidden" name="email" th:value="${email}"/>
            <button type="submit">Resend Verification Email</button>
        </form>

        <script type="text/javascript" th:src="@{/js/resend-timer.js}" defer></script>
        <script th:inline="javascript">
            window.onload = function () {
                startTimer(30);
            };
        </script>
        <br>
    </div>

    <div>
        <form method="post" th:action="@{/login}">
            <label>
                Enter email
                <br>

                <input type="text" name="username" placeholder="Enter the email"/>
            </label>
            <br>

            <label>
                Enter password
                <br>

                <input type="password" name="password" id="showInput" placeholder="Enter the password"/>
                <br>
                <input type="checkbox" onclick="showPassword('showInput')"> Show password
                <br>

                <a th:href="@{/forgot-password}">Forgot password?</a>
                <br>
            </label>
            <br>

            <label>
                <input type="checkbox" id="remember" name="remember-me"> Remember me
            </label>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>

    <div>
        <a th:href="@{/register}">I don't have an account</a>
    </div>

    <script type="text/javascript" th:src="@{/js/show-password.js}" defer></script>
</main>
</body>
</html>