<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/layout}">
<head>
    <title>Login</title>
</head>
<body>
<main layout:fragment="content">
    <div>
        <form method="post" th:action="@{/login}">
            <label>
                Enter email
                <br>

                <input type="text" name="username" placeholder="Enter the email"/>
            </label>
            <br>

            <label>
                Enter password
                <br>

                <input type="password" name="password" placeholder="Enter the password"/>
                <br>

                <a th:href="@{/forgot-password}">Forgot password?</a>
                <br>
            </label>
            <br>

            <label>
                Remember me
                <br>

                <input type="checkbox" id="remember" name="remember-me">
            </label>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>

    <div>
        <a th:href="@{/register}">I don't have an account</a>
    </div>
</main>
</body>
</html>