<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/layout}">
<head>
    <title>Login</title>
</head>
<body>
<main layout:fragment="content">
    <div>
        <form method="post" th:action="@{/login}">
            <label>
                Enter email
                <br>

                <input type="text" name="username" placeholder="Enter the email"/>
            </label>
            <br>

            <label>
                Enter password
                <br>

                <input type="password" name="password" placeholder="Enter the password"/>
            </label>
            <br>

            <button type="submit">Login</button>
        </form>
    </div>
</main>
</body>
</html>