<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Recover password</title>
</head>
<body>
<main layout:fragment="content">
    <div th:if="${isVerified}">
        <form method="post" th:action="@{/forgot-password/verify}" th:object="${passwordRecoveringDTO}">
            <input type="hidden" th:value="${token}" name="token"/>

            <label>
                Type a new password
                <br>
                <input type="text" th:field="*{password}" placeholder="Enter the password"/>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></p>
            </label>
            <br>

            <label>
                Confirm a password
                <br>
                <input type="text" th:field="*{passwordConfirmation}" placeholder="Enter the password"/>
                <p th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}" class="error"></p>
            </label>
            <br>
            <button type="submit">Save</button>
        </form>
    </div>

    <div th:unless="${isVerified}">
        <h1>Incorrect token.</h1>
        <a th:href="@{/forgot-password}">Try to recover token again.</a>
    </div>
</main>
</body>
</html>