<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/layout}">
<head>
    <title>Register</title>
</head>
<body>
<main layout:fragment="content">
    <div th:if="${message}">
        <p th:text="${message}"></p>
        <p id="timer">If you haven't received an email, you can resend it in 30 seconds</p>

        <form th:action="@{/resend-verification-email}" id="resend" style="display: none;" method="post">
            <input type="hidden" name="email" th:value="${email}"/>
            <button type="submit">Resend Verification Email</button>
        </form>

        <script type="text/javascript" th:src="@{/js/resend-timer.js}" defer></script>
        <script th:inline="javascript">
            window.onload = function () {
                startTimer(30);
            };
        </script>
        <br>
    </div>

    <div>
        <form method="post" th:action="@{/register}" th:object="${userDTO}">
            <label>
                Enter name
                <br>
                <input type="text" th:field="*{name}" placeholder="Enter the name"/>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></p>
            </label>
            <br>

            <label>
                Enter surname
                <br>
                <input type="text" th:field="*{surname}" placeholder="Enter the surname"/>
                <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></p>
            </label>
            <br>

            <label>
                Choose date of birth
                <br>
                <input type="date" th:field="*{dateOfBirth}" min="1900-01-01" th:max="${maxDate}"/>
                <p th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}" class="error"></p>
            </label>
            <br>


            <label>
                Enter nickname
                <br>
                <input type="text" th:field="*{nickname}" placeholder="Enter the nickname"/>
                <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="error"></p>
            </label>
            <br>

            <label>
                Enter email
                <br>
                <input type="text" th:field="*{email}" placeholder="Enter the email"/>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></p>
            </label>
            <br>

            <label>
                Enter password
                <br>
                <input type="password" th:field="*{password}" id="showInput1" placeholder="Enter the password"/>
                <br>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></p>
                <input type="checkbox" onclick="showPassword('showInput1')"> Show password
                <br>
            </label>
            <br>

            <label>
                Confirm password
                <br>
                <input type="password" th:field="*{confirmationPassword}" id="showInput2" placeholder="Confirm the password"/>
                <br>
                <p th:if="${#fields.hasErrors('confirmationPassword')}" th:errors="*{confirmationPassword}" class="error"></p>
                <input type="checkbox" onclick="showPassword('showInput2')"> Show password
                <br>
            </label>
            <br>

            <button type="submit">Register</button>
        </form>
    </div>

    <div>
        <a th:href="@{/login}">I already have an account</a>
    </div>

    <script type="text/javascript" th:src="@{/js/show-password.js}" defer></script>
</main>
</body>
</html>