<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Personal information</title>
</head>
<body>
<main layout:fragment="content">
    <form method="post" th:action="@{/moderators/personal-info}" th:object="${moderatorDTO}">
        <input type="hidden" th:field="*{agreed}" th:value="${moderatorDTO.agreed}">
        <label>
            Describe yourself and why I want to be a moderator.
            <br>

            <textarea th:field="*{text}" placeholder="Describe yourself"></textarea>
            <p th:if="${#fields.hasErrors('text')}" th:errors="*{text}" class="error"></p>
        </label>
        <br>

        <label>
            How much time are you able to spend per day moderating?
            <br>

            <select th:field="*{workHours}">
                <option th:value="${'Less than hour'}">Less than an hour</option>
                <option th:value="${'1-2 hours'}">1-2 hours</option>
                <option th:value="${'As much as I want'}">As much as I want</option>
                <option th:value="${'Whole day (I don''t touch grass)'}">Whole day (I don't touch grass)</option>
            </select>
        </label>
        <br>

        <button type="submit">Send request</button>
    </form>
</main>
</body>
</html>