<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layout}">
<head>
    <title th:text="${abstractPuzzleDTO.title}"></title>
</head>
<body>
<main layout:fragment="content">
    <div th:if="${abstractPuzzleDTO}">
        <p th:text="|Title: ${abstractPuzzleDTO.title}|"></p>
        <p th:text="|Description: ${abstractPuzzleDTO.description}|"></p>
        <p th:text="|Date of Adding: ${abstractPuzzleDTO.dateOfAdding}|"></p>
        <p th:text="|Difficulty: ${abstractPuzzleDTO.difficultyType}|"></p>
        <p th:text="|Puzzle Rating: ${abstractPuzzleDTO.rating}|"></p>
        <!--        <p th:text="|Puzzle Scores: ${abstractPuzzleDTO.leaderboardDTOList}|"></p>-->
        <div th:if="${#lists.isEmpty(abstractPuzzleDTO.leaderboardDTOList)}">
            <p>No one solved this riddle</p>
        </div>
        <div th:unless="${#lists.isEmpty(abstractPuzzleDTO.leaderboardDTOList)}">
            <span th:each="record, iter : ${abstractPuzzleDTO.leaderboardDTOList}">
                <p th:inline="text">
                    [[${iter.index + 1}]] <a th:href="@{/profile/{id}(id=${record.userId()})}">[[${record.nickname()}]]</a>:
                    [[${record.score()}]]
                </p>
            </span>
        </div>
        <a th:href="@{/puzzles/solve(id=${puzzleID})}">
            <button>Solve this riddle</button>
        </a>
        <div>
            <div th:if="${#lists.isEmpty(abstractPuzzleDTO.commentDTOList)}">
                <h1>No comments</h1>
            </div>
            <div th:unless="${#lists.isEmpty(abstractPuzzleDTO.commentDTOList)}">
                <h1>Comments:</h1>

                <ul id="comments-list">
                    <li th:each="comment : ${abstractPuzzleDTO.commentDTOList}"
                        th:attr="data-id=${comment.id}">
                        <p th:text="|${comment.username}: at ${comment.dateOfAdding}|"></p>
                        <p class="comment-text" th:text="${comment.text}"></p>
                        <div th:if="${userId} != null and ${comment.userId} == ${userId}">
                            <button onclick="editComment(this)">Edit</button>
                            <button onclick="deleteComment(this)">Delete</button>
                        </div>
                    </li>
                </ul>
            </div>

            <div th:if="${userId != null}">
                <form id="comment-form" onsubmit="addComment(this)">
                    <textarea id="comment-content" required></textarea>
                    <input type="hidden" id="user-id" th:value="${userId}">
                    <input type="hidden" id="puzzle-id" th:value="${abstractPuzzleDTO.id}">
                    <button type="submit">Add Comment</button>
                </form>
            </div>

            <script type="text/javascript" th:src="@{/js/comment.js}" defer></script>
        </div>
    </div>
</main>
</body>
</html>