<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/layout}">
<head>
    <title>Puzzle feed</title>
</head>
<body>
<main layout:fragment="content">
    <div>
        <a th:href="@{/puzzles/page/1(sortBy='difficulty',dir='desc')}">Sort by the hardest</a>
        <br>
        <a th:href="@{/puzzles/page/1(sortBy='difficulty',dir='asc')}">Sort by the easiest</a>
        <br>
        <a th:href="@{/puzzles/page/1(sortBy='date',dir='desc')}">Sort by the newest</a>
        <br>
        <a th:href="@{/puzzles/page/1(sortBy='date',dir='asc')}">Sort by the oldest</a>
        <br>
        <a th:href="@{/puzzles/page/1(sortBy='rating',dir='desc')}">Sort by the most rated</a>
        <br>
        <a th:href="@{/puzzles/page/1(sortBy='rating',dir='asc')}">Sort by the least rated</a>
        <br>
    </div>

    <ul>
        <li th:each="puzzle : ${puzzles}">
            <a th:href="@{'/puzzles/' + ${puzzle.id}}" th:data-id="${puzzle.id}" th:text="${puzzle.title}"></a>
            <br>
            <p th:text="|Difficulty: ${puzzle.difficultyType}|"></p>
            <br>
            <p th:text="|Rating: ${puzzle.rating}|"></p>
            <br>
            <p th:text="|Date of adding: ${puzzle.dateOfAdding}|"></p>
            <br>
        </li>
    </ul>

    <div th:if="${totalPages > 1}">
        <p th:text="|Total puzzles: ${totalItems}|"></p>
        <br>

        <div>
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a th:if="${currentPage != i}"
                   th:href="@{'/puzzles/page/' + ${i}(sortBy=${sortField},dir=${sortDirection})}">[[${i}]]</a>
            </span>
        </div>

        <div>
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/puzzles/page/' + ${currentPage + 1}(sortBy=${sortField},dir=${sortDirection})}">Next</a>
        </div>

        <div>
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/puzzles/page/' + ${totalPages}(sortBy=${sortField},dir=${sortDirection})}">Last</a>
        </div>

        <div>
            <a th:if="${currentPage > 1}"
               th:href="@{'/puzzles/page/' + ${currentPage - 1}(sortBy=${sortField},dir=${sortDirection})}">Previous</a>
        </div>
    </div>
</main>
</body>
</html>