<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layout}">
<head>
    <title th:text="${abstractPuzzleDTO.title}"></title>
</head>
<body>
<main layout:fragment="content">
    <div th:if="${abstractPuzzleDTO}">
        <p th:text="|Title: ${abstractPuzzleDTO.title}|"></p>
        <p th:text="|Description: ${abstractPuzzleDTO.description}|"></p>
        <p th:text="|Date of Adding: ${abstractPuzzleDTO.dateOfAdding}|"></p>
        <p th:text="|Difficulty: ${abstractPuzzleDTO.difficultyType}|"></p>
        <p th:text="|Puzzle Rating: ${abstractPuzzleDTO.rating}|"></p>
        <!--        <p th:text="|Puzzle Scores: ${abstractPuzzleDTO.leaderboardDTOList}|"></p>-->
        <div th:if="${#lists.isEmpty(abstractPuzzleDTO.leaderboardDTOList)}">
            <p>No one solved this riddle</p>
        </div>
        <div th:unless="${#lists.isEmpty(abstractPuzzleDTO.leaderboardDTOList)}">
            <span th:each="entry, iter : ${abstractPuzzleDTO.leaderboardDTOList}">
                <p th:text="|iter) ${entry.nickname()}: ${entry.score()}|"></p>
            </span>
        </div>
        <a th:href="@{/puzzles/solve(id=${puzzleID})}">
            <button>Solve this riddle</button>
        </a>
        <div>
            <h1>Comments:</h1>
        </div>
    </div>
</main>
</body>
</html>