<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layout}">
<head>
    <title th:text="${solveRiddleDTO.title}"></title>
    <link th:href="@{/css/solve-riddle.css}" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
    <div th:if="${solveRiddleDTO}">
        <h2>It's time to solve a puzzle!</h2>
        <p th:text="|The name of the puzzle is ${solveRiddleDTO.title}|"></p>
        <p>What is so interesting about it?</p>
        <p th:text="|${solveRiddleDTO.description}|"></p>
        <p th:text="|Beware of the difficluty! This is ${solveRiddleDTO.difficultyType}|"></p>
        <p th:text="|The riddle is: ${solveRiddleDTO.text}|"></p>

        <input type="text" id="answerInput" placeholder="Answer">
        <button type="button" id="answerBtn">Submit an answer</button>

        <!-- An example of a popup -->
        <div id="successPopup" class="popup">
            <div class="popup-content">
                <p>You successfully solved the riddle!
                    Please, rate the riddle on a scale of 0 to 5:</p>
                <label>
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
                <button type="submit">Submit rating and exit (no functionality)</button>
            </div>
        </div>

        <!-- Another example of a popup -->
        <div id="failurePopup" class="popup">
            <div class="popup-content">
                <span class="close">&times;</span>
                <div>
                    <p style="display: inline;"> Tries left: </p>
                    <p style="display: inline;" id="failureText"></p>
                    <a class="hidden-button" th:href="@{/puzzles/solve(id=${puzzleID})}">
                        <button type="button">Try again</button>
                    </a>
                    <a class="hidden-button" th:href="@{/puzzles/page/1}">
                        <button type="button">Exit to puzzle feed</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        let rightAnswer = [[${solveRiddleDTO.answer}]];
    </script>

    <script type="text/javascript" th:src="@{/js/solve-riddle.js}" defer></script>
</main>
</body>
</html>