<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layouts/solving-layout}">
<head>
    <title th:text="${solveWordleDTO.title}"></title>
    <link th:href="@{/css/solve-wordle.css}" rel="stylesheet">
    <link th:href="@{/css/solve.css}" rel="stylesheet">
    <style th:inline="css">
        :root {
            --column-number: [[${solveWordleDTO.answer.length()}]];
        }
    </style>
</head>
<body>
<main layout:fragment="content">
    <div id="game"></div>

    <div th:replace="~{boilerplates/fragments/solve-fragments :: successful (abstractSolve = ${solveWordleDTO})}"></div>
    <div th:replace="~{boilerplates/fragments/solve-fragments :: score-panel}"></div>

    <script th:inline="javascript">
        let colNum = [[${solveWordleDTO.answer.length()}]];
        let answer = [[${solveWordleDTO.answer.toLowerCase()}]];
        let idUser = [[${userID}]];
        let idPuzzle = [[${puzzleID}]];
    </script>
    <script type="text/javascript" th:src="@{/js/solve-wordle.js}" defer></script>
    <script type="text/javascript" th:src="@{/js/successful-solve-process.js}" defer></script>
</main>
</body>
</html>