<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{boilerplates/layout}">
<head>
    <title>Home page</title>
</head>
<body>
<main layout:fragment="content">
    <div th:if="${leaderboard.isEmpty()}">
        <h1>The Leaderboard is currently empty.</h1>
    </div>
    <div th:unless="${leaderboard.isEmpty()}">
        <h1>The leaderboard</h1>
        <ul>
            <li th:each="record, iter : ${leaderboard}">
                <p th:inline="text">
                    [[${iter.index + 1}]] <a th:href="@{/profile/{id}(id=${record.userId()})}">[[${record.nickname()}]]</a>:
                    [[${record.score()}]]
                </p>
            </li>
        </ul>
    </div>
</main>
</body>
</html>